<h3>Create new candidate</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="candidate.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="candidate.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Date of birth</label>
      <input type="text" class="form-control" id="dateOfBirth" required [(ngModel)]="candidate.dateOfBirth" name="dateOfBirth">
    </div>

    <div class="form-group">
        <label for="name">Contact number</label>
        <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="candidate.contactNumber" name="contactNumber">
      </div>

      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="candidate.email" name="email">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>New job candidate created successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>